{% extends "layout.html" %}

{% block content %}
<div class="page-content">
	<div class="holder">
	<div class="container">
		<div class="title-wrap text-center"><h2 class="h1-style">Popular Dishes</h2>
			<div class="h-sub maxW-825">"Live, love, <span style="font-size: 18px; color: black;">EAT</span>."</div>
		</div>
		<div class="prd-grid-wrap position-relative">
			<div class="prd-grid data-to-show-4 data-to-show-lg-4 data-to-show-md-3 data-to-show-sm-2 data-to-show-xs-2 js-category-grid" data-grid-tab-content>
				<div class="prd prd--style2 prd-labels--max prd-labels-shadow ">
	<div class="prd-inside">
		<div class="prd-img-area">
			<a href="#" class="prd-img image-hover-scale image-container">
				<img src="" data-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsKsag5f6F9fRuFCfkx9x249ho52dW_Eulmw" alt="Oversized Cotton Blouse" class="js-prd-img lazyload fade-up">
				<div class="foxic-loader"></div>
			</a>
			<div class="prd-circle-labels">
				<a href="#" class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0" title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="#" class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0" title="Remove From Wishlist"><i class="icon-heart-hover"></i></a>
				<a href="#" class="circle-label-qview js-prd-quickview prd-hide-mobile" data-src="ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK VIEW</span></a>
				
			</div>
			
		</div>
		<div class="prd-info">
			<div class="prd-info-wrap">
				<div class="prd-info-top">
					<div class="prd-rating"><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i></div>
				</div>
				<div class="prd-rating justify-content-center"><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i></div>

				<h2 class="prd-title"><a href="#">Burger with fries</a></h2>

				<div class="prd-action">
						<button class="btn js-prd-addtocart" data-product='{"name": "Oversized Cotton Blouse", "path":"images/skins/fashion/products/product-03-1.jpg", "url":"#", "aspect_ratio":0.778}'>Add To Cart</button>
					
				</div>
			</div>
			<div class="prd-hovers">
				<div class="prd-circle-labels">
					<div><a href="#" class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0" title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="#" class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0" title="Remove From Wishlist"><i class="icon-heart-hover"></i></a></div>
					<div class="prd-hide-mobile"><a href="#" class="circle-label-qview js-prd-quickview" data-src="ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK VIEW</span></a></div>
				</div>
				<div class="prd-price">
					<div class="price-new">₹ 180</div>
				</div>
				<div class="prd-action">
					<div class="prd-action-left">
							<button class="btn js-prd-addtocart" data-food_id="food1">Add To Cart</button>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div><div class="prd prd--style2 prd-labels--max prd-labels-shadow ">
	<div class="prd-inside">
		<div class="prd-img-area">
			<a href="#" class="prd-img image-hover-scale image-container">
				<img src="" data-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsKsag5f6F9fRuFCfkx9x249ho52dW_Eulmw" alt="Midi Dress with Belt" class="js-prd-img lazyload fade-up">
				<div class="foxic-loader"></div>
			</a>
			<div class="prd-circle-labels">
				<a href="#" class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0" title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="#" class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0" title="Remove From Wishlist"><i class="icon-heart-hover"></i></a>
				<a href="#" class="circle-label-qview js-prd-quickview prd-hide-mobile" data-src="ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK VIEW</span></a>

			</div>
			
		</div>
		<div class="prd-info">
			<div class="prd-info-wrap">
				<div class="prd-info-top">
					<div class="prd-rating"><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i></div>
				</div>
				<div class="prd-rating justify-content-center"><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i></div>
				<h2 class="prd-title"><a href="#">Burger with fries</a></h2>
				<div class="prd-action">
						<button class="btn js-prd-addtocart" data-product='{"name": "Midi Dress with Belt", "path":"images/skins/fashion/products/product-06-1.jpg", "url":"#", "aspect_ratio":0.778}'>Add To Cart</button>
					
				</div>
			</div>
			<div class="prd-hovers">
				<div class="prd-circle-labels">
					<div><a href="#" class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0" title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="#" class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0" title="Remove From Wishlist"><i class="icon-heart-hover"></i></a></div>
					<div class="prd-hide-mobile"><a href="#" class="circle-label-qview js-prd-quickview" data-src="ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK VIEW</span></a></div>
				</div>
				<div class="prd-price">
					
					<div class="price-new">₹ 180</div>
				</div>
				<div class="prd-action">
					<div class="prd-action-left">
							<button class="btn js-prd-addtocart" data-food_id="food2">Add To Cart</button>
					
					</div>
				</div>
			</div>
		</div>
	</div>
</div><div class="prd prd--style2 prd-labels--max prd-labels-shadow ">
	<div class="prd-inside">
		<div class="prd-img-area">
			<a href="#" class="prd-img image-hover-scale image-container">
				<img src="" data-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsKsag5f6F9fRuFCfkx9x249ho52dW_Eulmw" alt="Short Sleeve Blouse" class="js-prd-img lazyload fade-up">
				<div class="foxic-loader"></div>
			</a>
			<div class="prd-circle-labels">
				<a href="#" class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0" title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="#" class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0" title="Remove From Wishlist"><i class="icon-heart-hover"></i></a>
				<a href="#" class="circle-label-qview js-prd-quickview prd-hide-mobile" data-src="ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK VIEW</span></a>
				
			</div>
			
		</div>
		<div class="prd-info">
			<div class="prd-info-wrap">
				<div class="prd-info-top">
					<div class="prd-rating"><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i></div>
				</div>
				<div class="prd-rating justify-content-center"><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i></div>

				<h2 class="prd-title"><a href="#">Burger with fries</a></h2>
				<div class="prd-action">
						<button class="btn js-prd-addtocart" data-product='{"name": "Short Sleeve Blouse", "path":"images/skins/fashion/products/product-10-1.jpg", "url":"#", "aspect_ratio":0.778}'>Add To Cart</button>
				
				</div>
			</div>
			<div class="prd-hovers">
				<div class="prd-circle-labels">
					<div><a href="#" class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0" title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="#" class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0" title="Remove From Wishlist"><i class="icon-heart-hover"></i></a></div>
					<div class="prd-hide-mobile"><a href="#" class="circle-label-qview js-prd-quickview" data-src="ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK VIEW</span></a></div>
				</div>
				<div class="prd-price">
					<div class="price-new">₹ 180</div>
				</div>
				<div class="prd-action">
					<div class="prd-action-left">
							<button class="btn js-prd-addtocart" data-food_id="food3">Add To Cart</button>
					
					</div>
				</div>
			</div>
		</div>
	</div>
</div><div class="prd prd--style2 prd-labels--max prd-labels-shadow ">
	<div class="prd-inside">
		<div class="prd-img-area">
			<a href="#" class="prd-img image-hover-scale image-container">
				<img src="" data-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsKsag5f6F9fRuFCfkx9x249ho52dW_Eulmw" alt="Peg Cropped Cuffed Pants" class="js-prd-img lazyload fade-up">
				<div class="foxic-loader"></div>
			</a>
			<div class="prd-circle-labels">
				<a href="#" class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0" title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="#" class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0" title="Remove From Wishlist"><i class="icon-heart-hover"></i></a>
				<a href="#" class="circle-label-qview js-prd-quickview prd-hide-mobile" data-src="ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK VIEW</span></a>
				
			</div>
			
		</div>
		<div class="prd-info">
			<div class="prd-info-wrap">
				<div class="prd-info-top">
					<div class="prd-rating"><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i></div>
				</div>
				<div class="prd-rating justify-content-center"><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i></div>

				<h2 class="prd-title"><a href="#">Burger with fries</a></h2>
				<div class="prd-action">
						<button class="btn js-prd-addtocart" data-product='{"name": "Peg Cropped Cuffed Pants", "path":"images/skins/fashion/products/product-13-1.jpg", "url":"#", "aspect_ratio":0.778}'>Add To Cart</button>
				
				</div>
			</div>
			<div class="prd-hovers">
				<div class="prd-circle-labels">
					<div><a href="#" class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0" title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="#" class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0" title="Remove From Wishlist"><i class="icon-heart-hover"></i></a></div>
					<div class="prd-hide-mobile"><a href="#" class="circle-label-qview js-prd-quickview" data-src="ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK VIEW</span></a></div>
				</div>
				<div class="prd-price">
					
					<div class="price-new">₹ 180</div>
				</div>
				<div class="prd-action">
					<div class="prd-action-left">
							<button class="btn js-prd-addtocart" data-food_id="food4">Add To Cart</button>
					
					</div>
				</div>
			</div>
		</div>
	</div>
</div><div class="prd prd--style2 prd-labels--max prd-labels-shadow ">
	<div class="prd-inside">
		<div class="prd-img-area">
			<a href="#" class="prd-img image-hover-scale image-container">
				<img src="" data-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsKsag5f6F9fRuFCfkx9x249ho52dW_Eulmw" alt="Cascade Casual Shirt" class="js-prd-img lazyload fade-up">
				<div class="foxic-loader"></div>
			</a>
			<div class="prd-circle-labels">
				<a href="#" class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0" title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="#" class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0" title="Remove From Wishlist"><i class="icon-heart-hover"></i></a>
				<a href="#" class="circle-label-qview js-prd-quickview prd-hide-mobile" data-src="ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK VIEW</span></a>

			</div>
			
		</div>
		<div class="prd-info">
			<div class="prd-info-wrap">
				<div class="prd-info-top">
					<div class="prd-rating"><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i></div>
				</div>
				<div class="prd-rating justify-content-center"><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i></div>

				<h2 class="prd-title"><a href="#">Burger with fries</a></h2>
				<div class="prd-action">
						<button class="btn js-prd-addtocart" data-product='{"name": "Cascade Casual Shirt", "path":"images/skins/fashion/products/product-16-1.jpg", "url":"#", "aspect_ratio":0.778}'>Add To Cart</button>
				
				</div>
			</div>
			<div class="prd-hovers">
				<div class="prd-circle-labels">
					<div><a href="#" class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0" title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="#" class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0" title="Remove From Wishlist"><i class="icon-heart-hover"></i></a></div>
					<div class="prd-hide-mobile"><a href="#" class="circle-label-qview js-prd-quickview" data-src="ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK VIEW</span></a></div>
				</div>
				<div class="prd-price">
					
					<div class="price-new">₹ 180</div>
				</div>
				<div class="prd-action">
					<div class="prd-action-left">
							<button class="btn js-prd-addtocart" data-food_id="food5">Add To Cart</button>
					
					</div>
				</div>
			</div>
		</div>
	</div>
</div><div class="prd prd--style2 prd-labels--max prd-labels-shadow prd-outstock">
	<div class="prd-inside">
		<div class="prd-img-area">
			<a href="#" class="prd-img image-hover-scale image-container">
				<img src="" data-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsKsag5f6F9fRuFCfkx9x249ho52dW_Eulmw" alt="Sport Cotton T-shirt" class="js-prd-img lazyload fade-up">
				<div class="foxic-loader"></div>
			</a>
			<div class="prd-circle-labels">
				<a href="#" class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0" title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="#" class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0" title="Remove From Wishlist"><i class="icon-heart-hover"></i></a>
				<a href="#" class="circle-label-qview js-prd-quickview prd-hide-mobile" data-src="ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK VIEW</span></a>
				
			</div>
			
		</div>
		<div class="prd-info">
			<div class="prd-info-wrap">
				<div class="prd-info-top">
					<div class="prd-rating"><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i></div>
				</div>
				<div class="prd-rating justify-content-center"><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i></div>

				<h2 class="prd-title"><a href="#">Burger with fries</a></h2>
				<div class="prd-action">
						<button class="btn js-prd-addtocart" data-product='{"name": "Sport Cotton T-shirt", "path":"images/skins/fashion/products/product-18-1.jpg", "url":"#", "aspect_ratio":0.778}'>Add To Cart</button>
				
				</div>
			</div>
			<div class="prd-hovers">
				<div class="prd-circle-labels">
					<div><a href="#" class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0" title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="#" class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0" title="Remove From Wishlist"><i class="icon-heart-hover"></i></a></div>
					<div class="prd-hide-mobile"><a href="#" class="circle-label-qview js-prd-quickview" data-src="ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK VIEW</span></a></div>
				</div>
				<div class="prd-price">
					
					<div class="price-new">₹ 180</div>
				</div>
				<div class="prd-action">
					<div class="prd-action-left">
							<button class="btn js-prd-addtocart" data-food_id="food6">Add To Cart</button>
					
					</div>
				</div>
			</div>
		</div>
	</div>
</div><div class="prd prd--style2 prd-labels--max prd-labels-shadow ">
	<div class="prd-inside">
		<div class="prd-img-area">
			<a href="#" class="prd-img image-hover-scale image-container">
				<img src="" data-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsKsag5f6F9fRuFCfkx9x249ho52dW_Eulmw" alt="Genuine Leather Strap Watch" class="js-prd-img lazyload fade-up">
				<div class="foxic-loader"></div>
			</a>
			<div class="prd-circle-labels">
				<a href="#" class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0" title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="#" class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0" title="Remove From Wishlist"><i class="icon-heart-hover"></i></a>
				<a href="#" class="circle-label-qview js-prd-quickview prd-hide-mobile" data-src="ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK VIEW</span></a>
				
			</div>
			
		</div>
		<div class="prd-info">
			<div class="prd-info-wrap">
				<div class="prd-info-top">
					<div class="prd-rating"><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i></div>
				</div>
				<div class="prd-rating justify-content-center"><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i></div>

				<h2 class="prd-title"><a href="#">Burger with fries</a></h2>
				<div class="prd-action">
						<button class="btn js-prd-addtocart" data-product='{"name": "Genuine Leather Strap Watch", "path":"images/skins/fashion/products/product-21-1.jpg", "url":"#", "aspect_ratio":0.778}'>Add To Cart</button>
					
				</div>
			</div>
			<div class="prd-hovers">
				<div class="prd-circle-labels">
					<div><a href="#" class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0" title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="#" class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0" title="Remove From Wishlist"><i class="icon-heart-hover"></i></a></div>
					<div class="prd-hide-mobile"><a href="#" class="circle-label-qview js-prd-quickview" data-src="ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK VIEW</span></a></div>
				</div>
				<div class="prd-price">
					<div class="price-new">₹ 180</div>
				</div>
				<div class="prd-action">
					<div class="prd-action-left">
							<button class="btn js-prd-addtocart"data-food_id="food7">Add To Cart</button>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="prd prd--style2 prd-labels--max prd-labels-shadow ">
	<div class="prd-inside">
		<div class="prd-img-area">
			<a href="#" class="prd-img image-hover-scale image-container">
				<img src="" data-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsKsag5f6F9fRuFCfkx9x249ho52dW_Eulmw" alt="Fashion Waist Bag" class="js-prd-img lazyload fade-up">
				<div class="foxic-loader"></div>
			</a>
			<div class="prd-circle-labels">
				<a href="#" class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0" title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="#" class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0" title="Remove From Wishlist"><i class="icon-heart-hover"></i></a>
				<a href="#" class="circle-label-qview js-prd-quickview prd-hide-mobile" data-src="ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK VIEW</span></a>
				
			</div>
			
		</div>
		<div class="prd-info">
			<div class="prd-info-wrap">
				<div class="prd-info-top">
					<div class="prd-rating"><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i></div>
				</div>
				<div class="prd-rating justify-content-center"><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i></div>

				<h2 class="prd-title"><a href="#" class="food-name">Burger with fries</a></h2>
				<div class="prd-action">
					<button class="btn js-prd-addtocart" data-product='{"name": "Fashion Waist Bag", "path":"images/skins/fashion/products/product-25-1.jpg", "url":"#", "aspect_ratio":0.778}'>Add To Cart</button>

				</div>
			</div>
			<div class="prd-hovers">
				<div class="prd-circle-labels">
					<div><a href="#" class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0" title="Add To Wishlist"><i class="icon-heart-stroke"></i></a><a href="#" class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0" title="Remove From Wishlist"><i class="icon-heart-hover"></i></a></div>
					<div class="prd-hide-mobile"><a href="#" class="circle-label-qview js-prd-quickview" data-src="ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK VIEW</span></a></div>
				</div>
				<div class="prd-price">
					
					<div class="price-new">₹ 160</div>
				</div>
				<div class="prd-action">
					<div class="prd-action-left">
						<button class="btn js-prd-addtocart" data-food_id="food8">Add To Cart</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}

{% block scripts %}
<script>
    $(document).ready(function(){

		var cart = JSON.parse(window.localStorage.getItem('cart'));
		var order_id = Math.floor(100000 + Math.random() * 900000);

		if (cart.order_id == null){
			cart.order_id = order_id;
		}

		cart.table_id = window.localStorage.getItem('table_id');
		cart.identifier = window.localStorage.getItem('identifier');
		window.localStorage.setItem('cart', JSON.stringify(cart));

        $('.js-prd-addtocart').on('click', function(){
            var $prd = $(this);
            var price = $prd.parent().parent().parent().find('.price-new')[0].innerText.split(' ')[1];
            var food_id = $prd.attr('data-food_id');
            var food_name = $prd.parents().find('.food-name')[0].innerText;
            var food_img = $prd.closest('.prd-inside').find('img.js-prd-img')[0].attributes['data-src'].nodeValue;

            function itemExists(item){
                return cart.cart_items.some(function(el){
                    return el.food_id === item})
            }

            if (!itemExists(food_id)){
                cart.cart_items.push(
                    {
                        food_id:food_id,
                        data:{
                            price:price,
                            quantity:1,
                            food_name:food_name,
                            food_img:food_img
                        }
                    }
                );
                window.localStorage.setItem('cart', JSON.stringify(cart));
                Swal.fire({
                    icon: 'success',
                    title: 'Food Added To Basket',
                    showConfirmButton: true,
                });
            } else{
                Swal.fire({
                    icon: 'warning',
                    title: 'Food is in your basket!!!',
                    showConfirmButton: true,
                });
            }
        })

    })
</script>
</html>
{% endblock scripts %}